<div class="bible-container">
  <h2>Bible Passages</h2>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let passage of biblePassages"><mat-expansion-panel-header>
      <mat-panel-title>{{ passage.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="bible-card">
        <mat-card-content>
          <p [innerHTML]="passage.text"></p>
          <p [innerHTML]="passage.podcast_link_html"></p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>