<div class="catechism-container">
  <h2>Catechism</h2>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let topic of catechismTopics"><mat-expansion-panel-header>
      <mat-panel-title>{{ topic.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="apologetics-card">
        <mat-card-content>
          <p [innerHTML]="topic.text"></p>
          <p [innerHTML]="topic.podcast_link_html"></p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>