<mat-toolbar color="primary">
  <span>LexCredendi</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="apologetics">Apologetics</a>
      <a mat-list-item routerLink="bible">Bible</a>
      <a mat-list-item routerLink="catechism">Catechism</a>
      <a mat-list-item routerLink="doctrine">Doctrine</a>
      <a mat-list-item routerLink="prayer">Prayer</a>
      <a mat-list-item routerLink="readings">Readings</a>
      <a mat-list-item routerLink="meditation">Meditation</a>
      <a mat-list-item routerLink="litcal">Litcal</a>
      <a mat-list-item routerLink="art">Art</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
