<mat-toolbar color="primary">
  <span>LexCredendi</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/">Home</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/apologetics">Apologetics</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/bible">Bible</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/catechism">Catechism</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/doctrine">Doctrine</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/prayer">Prayer</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/readings">Readings</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/meditation">Meditation</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/litcal">Litcal</a>
      <a mat-list-item routerLink="/lexcredendi-frontend/#/art">Art</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
