<div class="prayer-container">
  <h2>Prayers</h2>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let prayer of prayers"><mat-expansion-panel-header>
      <mat-panel-title>{{ prayer.title }} | {{ prayer.latin_title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="apologetics-card">
        <mat-card-content>
          <p [innerHTML]="prayer.text"></p>
          <p [innerHTML]="prayer.latin_text"></p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>